@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
	--yellow-bg: #FFB400;
	--dark-bg: #111111;
	--roboto: "Roboto", sans-serif;
	--baloo : "Baloo Bhai 2", sans-serif;
	--font-head-xl: 7rem;
	--font-head-lg: 5.5rem;
	--font-head-md: 3.5rem;
	--font-head-sm: 2rem;
	--font-p: 1.2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--roboto);
}

*::selection{
	background-color: var(--dark-bg);
	color: var(--yellow-bg);
}

html,
body {
	width: 100%;
	height: 100%;
	color: white;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	background: var(--dark-bg);
}

.hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10vh 8vw;
	background: rgb(255,180,0);
	background: linear-gradient(70deg, rgba(255,180,0,1) 24%, rgba(17,17,17,1) 24%);
	z-index: -10;
}

.hero-img img{
	height: 85vh;
	width: 30vw;
	object-fit: cover;
	border-radius: 20px;
}

.hero-txt{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 5vw;
}

.hero-txt *{
	font-family: var(--baloo);
}

.hero-txt h1{
	font-size: var(--font-head-xl);
	letter-spacing: normal;
	display: inline;
}

.hero-txt h1 span{
	color: var(--yellow-bg);
}

.hero-txt h2{
	font-size: var(--font-head-sm);
}

.hero-txt p{
	font-size: 18px;
	font-family: var(--roboto);
}

.container{
	max-width: 80vw;
	margin: auto;
}

.about > h1{
	text-transform: uppercase;
	text-align: center;
	font-size: var(--font-head-lg);
	margin: 10vh 0 15vh;
}

.about > h1 span{
	color: var(--yellow-bg);
}

.personal-info{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.info-text > h2{
	font-size: var(--font-head-sm);
	text-transform: uppercase;
	margin: 20px;
	white-space: nowrap;
}
.info-text ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.info-text ul li{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.info-text ul li span{
	color: gray;
}

.achievements{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 50%;
}

.achievements .ach-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 35px 60px 45px;
	width: 300px;
}

.achievements .ach-box div{
	display: flex;
	gap: 8px;
}

.achievements h1{
	font-size: var(--font-head-md);
	color: var(--yellow-bg);
}

.achievements h5{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
}
.skills-div{
	margin: 8vh 0;
}

.skills-div h1{
	text-transform: uppercase;
	font-size: var(--font-head-md);
	text-decoration: underline var(--yellow-bg);
}

.skills-img{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.projects > h1{
	font-size: var(--font-head-md);
	text-decoration: underline var(--yellow-bg);
	text-align: center;
	margin: 5vh 0 10vh;
	text-transform: uppercase;
}

.projects-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project{
	width: 350px;
	height: 530px;
	position: relative;
	overflow: hidden;
  cursor: pointer;
	border-radius: 12px;
	margin: 2vh auto;
	transition: all 0.2s ease-in;
}

.project img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
}

.overlay{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	transition: all 0.22s ease-in;
  background-color:#ffb300d6;
  z-index: 2;
	opacity: 0;
}

.overlay h1{
	color: var(--dark-bg);
	font-size: var(--font-head-sm);
	text-decoration: underline var(--dark-bg);
}

.overlay p{
	color: var(--dark-bg);
	font-size: 18px;
	padding: 0 20px;
}

.project:hover .overlay{
	opacity: 1;
}
.project:hover{
	transform: scale(1.02);
}

.testimonials{
	margin: 8vh auto;
}

hr{
background-color: #373636;
	height: 1px;
	border: 0;
}

.testimonials > h1{
	font-size: var(--font-head-lg);
	color: white;
	text-decoration: underline var(--yellow-bg);
	text-align: center;
	margin: 15vh auto 8vh;
}

.swiper-slide img{
	width: 120px;
	height: 120px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	margin: 2vh auto;
	display: block;
}

.swiper-slide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: auto;
}

.swiper-slide .test-name h1{
	text-align: center;
	color: rgb(0, 119, 255);
	font-size: var(--font-head-sm);
	font-weight: 500;
}
.swiper-slide .test-name h2{
	color: grey;
	font-size: var(--font-p);
	font-weight: 400;
	margin: 5px auto 8px;
	text-align: center;
}
.swiper-slide p{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
.swiper{
	max-width: 80%;
	margin: auto;
}

.contact-form {
  max-width: 50%;
  margin: 0 auto 5vh;
  padding: 20px;
}

.contact-form h2 {
  text-align: center;
  margin: 8vh auto 5vh;
  font-size: var(--font-head-md);
  color: white;
}

.contact-form label {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #525252;
	background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
	color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--yellow-bg);
  outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: var(--yellow-bg);
  color: var(--dark-bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(3px);
}

.footer {
  padding: 20px 0 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  line-height: 1.6;
  font-size: 14px;
}

.footer-section a {
  color: #f9f9f9;
  margin-right: 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #007bff;
}

.footer #insta:hover{
	color: #C13584;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background-color: #222;
  color: #bbb;
}





